body {
    background: url(https://i.ytimg.com/vi/cEvLepKE2Ko/hqdefault.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    padding-top: 5em;
    text-align: center;
}